#projects {
    background-color: white;
}

#projects h2, #projects h3 {
    text-align: center;
}

.projects__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.projects {
    width: 100%;
    margin: 3rem auto;
    height: auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.projects:hover .backgroud-image{
    transform: scale(1.1) translateZ(0);
}

.projects:hover {
    cursor: pointer;
}

.projects .content .details span{
    color: var(--color-bg-variant);
    font-family: 'Cooper Hewitt Medium';
    font-size: 1.2rem;
}

.projects .content .details p{
    color: #fff;
    font-family: 'Cooper Hewitt Semibold';
    font-size: 2.5rem;
}

.projects .content .details button{
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
}

.projects .content .details button:hover{
    background: transparent;
    cursor: pointer;
}


.content {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    padding: 150px 95px;
    background: transparent;
}

.modal-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
    .projects__container {
        max-width: 600px;
    }
    
}

/* Media queries (Small devices) */
@media screen and (max-width: 600px) {
    .projects__container {
        max-width: 550px;
    }

    .projects .content .details {
        text-align: center;
    }

    .projects .content {
        padding: 6rem 2rem;
    }

    .modal-container {
        grid-template-columns: 1fr;
        gap: 0;
    }
}
